/*

setup
fonts
animations
general
intro section
about section
job section
profile section
project section
references section
media queries

*/

/* ----------------- #setup ----------------- */

body {
    font-size: 10px; /* so 1rem = 10px */
    margin: 0;
    font-family: "Roboto", "Open Sans";
    font-weight: 300;
}

:root {
    --link-colour: #0B88FF;
    --link-highlight-colour: #339cff;
}

.container-lg h1:first-child {
    display: none;
}

.container-lg.px-3.my-5 {
    margin: 0 !important;
    padding: 0 !important;
}

.container-lg {
    font-size: 20px;
    font-size: 2rem;
    max-width: none;
}

strong {
    font-weight: 400;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 8px;
    font-weight: 400;
    margin-top: 0;
}

a {
    color: var(--link-colour);
    text-decoration: none;
}
a:hover, a:focus {
    color: var(--link-highlight-colour);
    text-decoration: underline;
}

blockquote {
    font-style: italic;
}

p {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: justify;
}

.mb-small {
    margin-bottom: 10px;
}
.mb-zero {
    margin-bottom: 0;
}

/* ----------------- #fonts ----------------- */

@font-face {
    font-family: "Roboto";
    font-weight: 300;
    src: url("fonts/roboto-light.woff2") format("woff2"), url("fonts/roboto-light.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url("fonts/roboto-medium.woff2") format("woff2"), url("fonts/roboto-medium.woff") format("woff");
}


/* ----------------- #animations ----------------- */
.animation-fade-in {
    animation-name: kf-fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

.animation-delay-5 {
    animation-delay: 0.25s;
}
.animation-delay-10 {
    animation-delay: 0.5s;
}
.animation-delay-15 {
    animation-delay: 0.75s;
}
.animation-delay-20 {
    animation-delay: 1s;
}
.animation-delay-25 {
    animation-delay: 1.25s;
}
.animation-delay-30 {
    animation-delay: 1.5s;
}

@keyframes kf-fade-in {
    0% {opacity:0;}
    100% {opacity: 1;}
}

@keyframes kf-slide-up-fade-in {
    0% {margin-top: 20px; opacity: 0;}
    100% {margin-top: 0; opacity: 1;}
}

.animation-fade-in-slide-up {
    opacity: 0;
    margin-top: 4px;
    animation-name: kf-slide-up-fade-in;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-play-state: paused;
}
.animation-fade-in-slide-up.animation-triggered {
    animation-play-state: running;
}

/* ----------------- #general ----------------- */

.site-content {
    font-size: 14px;
    font-size: 1.4rem;
    overflow: hidden;
    position: relative;
}

.wrap {
    max-width: 1280px;
    margin: 0 auto;
}

.sep {
    background: var(--link-colour);
    width: 100%;
    height: 2px;
    margin: 0 auto;
}

.nav-sep {
    margin-top: 20px;
}

.block {
    padding: 40px 0;
}



.ac-tab-label {
    user-select: none;
    background: #ddd;
    color: black;
    padding: 10px 20px;
    float: left;
    cursor: pointer;
}

.ac-tab-label:not(:checked):hover {
    background: #ddd;
}



.ac-tab-input:checked + .ac-tab-label {
    background: var(--link-colour);
    color: white;
}

.accordion .ac-tab {
    display: none;
}

.ac-tab-input {
    display: none;
}

.clearfix::before, .clearfix::after {
    display: block;
    content: "";
}
.clearfix::after {
    clear: both;
}

.button {
    padding: 15px 20px;
    background: var(--link-colour);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 20px;
    display: inline-block;
}

.button:hover, .button:focus {
    background: var(--link-highlight-colour);
    color: white;
    text-decoration: none;
}

.grid-sep {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-column-gap: 4%;
}

/* Declare some classes to easily set margin bottom */

.mb-0 {
    margin-bottom: 0;
}
.mb-10 {
    margin-bottom: 10px;
}
/* ----------------- #intro section ----------------- */

.block-intro {
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding: 0;
    position: relative;
    color: white;
}

.intro-wrap {
    align-self: center;
    position: relative;
    margin-top: 80px;
    margin-bottom: 80px;
}

.intro-title {
    font-size: 3rem;
    margin-top: 20px;
    text-shadow: 0px 0px 10px black;
}

.intro-container {
    display: block;
    text-shadow: 0px 0px 5px black;
    max-width: 1000px;
}

.intro-title {
    padding-bottom: 20px;
    display: inline-block;
    border-bottom: 4px solid white;
    margin-bottom: 40px;
}

.block-intro .background-image-container {
    position: absolute;
    top: 0;
    bottom: 0;
}

.block-intro .background-image {
    max-height: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
}

.intro-text-container {
    padding: 20px;
}

.intro-portrait {
    object-fit: cover;
    border-radius: 50%;
    max-height: 300px;
    float: right;
    margin-left: 50px;
}

/* ----------------- #about section ----------------- */

.block-about {
    background: #eee;
}

.about-container {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-column-gap: 4%;
    
}

.ai-upscaler-link {
    display: inline-block;
    margin-bottom: 30px;
}

.about-me-headline {
    margin-bottom: 30px;
}

/* ----------------- #job section ----------------- */

.block-job {
    padding-bottom: 0;
    background: #eee;
}


.req-exp-title {
    margin-top: 40px;
}


#tab-job1:checked ~ .tab1  {
    display: block;
}
#tab-job2:checked ~ .tab2  {
    display: block;
}

.job-grid-container {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-column-gap: 4%;
}

.ac-job .ac-tab {
    margin-top: 20px;
    background: white;
    padding: 20px;
}

.job-sep {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #ccc;
}

/* Future */

.job-future-container {
    padding: 40px 0;
    position: relative;
    
}
.job-background-image {
    filter: brightness(30%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-attachment: fixed;
    background-size: cover;
}

.job-wrap {
    grid-template-columns: 48% 48%;
    grid-column-gap: 4%;
    display: grid;
    position: relative;
    color: white;
}

@media only screen and (max-width: 800px) {
    .job-background-image {
        background-image: url('images/code-low-res.jpg');
    }
}
@media only screen and (max-width: 1400px) and (min-width: 801px) {
    .job-background-image {
        background-image: url('images/code-med-res.jpg');
    }
}
@media only screen and (min-width: 1401px) {
    .job-background-image {
        background-image: url('images/code-med-res.jpg'); /* decided not to use the hi-res as the file size was too large */
    }
}

/* ----------------- #profile section ----------------- */

.block-profile {
    background: #eee;
}

.profile-container {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-column-gap: 4%;
}

#tab-g1:checked ~ .tab1  {
    display: block;
}
#tab-g2:checked ~ .tab2  {
    display: block;
}
.ac-graph .ac-tab {
    padding: 20px;
    padding-left: 0;
}

.ac-graph .ac-tab-label {
    background: #ddd;
}


.ac-graph .ac-tab-label:not(:checked):hover {
    background: #ccc;
}

.ac-graph .ac-tab-input:checked + .ac-tab-label {
    background: var(--link-colour);
    color: white;
}

.briggs-link, .learning-style-link {
    margin-bottom: 20px;
    display: inline-block;
}

.briggs-attributes-para {
    margin-bottom: 0px;
}

.big-5-item {
    grid-column-start: 1;
    grid-column-end: 3;
}

.personal-profile-headline {
    margin-bottom: 30px;
}




/* ----------------- #project section ----------------- */

.block-project {
    position: relative;
    color: white;
}

.block-project li {
    margin-top: 30px;
}
.block-project li:first-of-type {
    margin-top: 0;
}

.project-wrap {
    position: relative;
}

.project-background-image {
    filter: brightness(30%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("images/project-med-res.jpg");
}

.project-item {
    grid-column-start: 1;
    grid-column-end: 3;
}

.project-headline, .project-desc-headline, .project-outcome-headline {
    border-bottom: 4px solid white;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

.project-mockup-image {
    box-shadow: 0px 0px 5px #000;
}



/* ----------------- #references section ----------------- */

.block-reference {
    background: var(--link-colour);
    color: white;
}

.reference-headline {
    margin-bottom: 40px;
}

.reference-wrap {
    max-width: 820px;
}

.block-reference p {
    padding-bottom: 30px;
    border-bottom: 2px solid white;
}
.block-reference p:last-of-type {
    border-bottom: none;
}

.reference-wrap a {
    color: white;
}

.block-reference p {
    text-align: left;
}



/* ----------------- #media ----------------- */

@media screen and (max-width: 1300px) {
    .wrap {
        max-width: 1060px;
    }
}

@media screen and (max-width: 1100px) {
    .wrap { 
        max-width: none;
        padding-left: 40px;
        padding-right: 40px;
    }
    .about-container, .block-interests .grid-container, .job-grid-container, .job-wrap, .profile-container, .project-wrap .grid-container {
        grid-template-columns: 100%;
    }

    .grid-sep {
        display: none;
    }

    .image-item {
        margin-bottom: 40px;
    }
    .job-button {
        margin-bottom: 40px;
    }

    .big-5-item, .project-item {
        grid-column-start: auto;
        grid-column-end: auto;
    }
    .profile-learning-style-image {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 800px) {
    .intro-portrait {
        float: none;
        margin-bottom: 40px;
        display: block;
        margin-left: auto; margin-right: auto;
    }
}



