nav {
    background: red;
}

.container-lg h1:first-child {
    display: none;
}

body .container-lg {
    max-width: none;
    padding: none;
}

.container-lg {
    font-size: 20px;
    font-size: 2rem;
}